<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <h1 class="page-header">Search for Projects</h1>

          <div class="row placeholders">
              <div class="col-xs-4 col-sm-4 placeholder">
                <span style="font-size:5em;" class=" blue glyphicon glyphicon-book" aria-hidden="true"></span>
                <h3> Search by Subject </h3>
                <div class="panel panel-blue">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                  
                  <h4>Specify which subject you want to include</h4>
                      <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                          </span>
                          <input type="text" class="form-control" placeholder="eg. Math"aria-label="...">
                      </div><!-- /input-group -->
                      <br>
                      <button class="btn btn-blue btn-sm">Add another subject</button>

                  </div>
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 placeholder">
                <span style="font-size:5em;" class="blue glyphicon glyphicon-search" aria-hidden="true"></span>
                <h3>Search by Grade</h3>
                <div class="panel panel-blue">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    <h4>Select one or more grades</h4>
                    <div class="list-group">
                        <div ng-repeat="grade in grades">
                          <button type="button" class="list-group-item" ng-click="toggle_include_grade(grade)">
                            <div class="col-xs-6"> 
                              <a class="gold" ng-class="grade.checkbox" ></a> 
                            </div>
                            <div class="col-xs-6">
                              {{grade.name}}
                            </div>
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-4 col-sm-4 placeholder">
                <span style="font-size:5em;" class="blue glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h3>Topic</h3>
                <div class="panel panel-blue">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                      <h4>Specify any particular topic you want to include</h4>
                      <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                          </span>
                          <input type="text" class="form-control" placeholder="eg. Trigonometry"aria-label="...">
                      </div><!-- /input-group -->
                      <br>
                      <button class="btn btn-blue btn-sm">Add another topic</button>
                  </div>
                </div>
              </div>

          </div>
          
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Or search by standard code...</span>
            <input type="text" class="form-control" placeholder="eg. MAFS.7.SP.1.1" aria-describedby="sizing-addon1">
          </div>

          <br>
          <div class="panel panel-blue">
              <div class="panel-heading"> <h2 class="panel-title"> Search Results </h2></div>
              <div class="panel-body">
                <h4 class="search-results">Displaying projects that match the following categories: </h4>
                <ul class="list-group">
                  <li class="list-group-item">Between grades {{min_grade}} and {{max_grade}}</li>
                </ul>
              </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</section>