<section data-ng-controller="ProjectsController" data-ng-init="find()">
  <div class="container-fluid">
    <h2>Search for Projects</h2>
      <br>
      <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">By standard...</span>
            <input type="text" class="form-control" placeholder="eg. MAFS.7.SP.1.1" aria-describedby="sizing-addon1">
      </div>
      <br>
      
      <h3>Alternatively...</h3>
      
      <div class="main row">
          <div class="col-md-4"> 
            <div style="text-align:center">
                <span style="font-size:5em" class="blue glyphicon glyphicon-book" aria-hidden="true"></span>
                <h3>Search by Subject</h3>
                <div class="panel panel-blue">
                  <div class="panel-heading">I want projects in the subject(s) of...</div>
                  <div class="panel-body">

                    <div class="list-group">
                        <div ng-repeat="subject in subjects">
                          <button type="button" class="list-group-item" ng-click="toggle_include_subject(subject)">
                            <div class="col-xs-3">
                              <span class="gold {{subject.checkbox}}" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-9">
                              {{subject.title}}
                            </div>
                          </button>
                        </div>
                    </div>


                  </div>
                </div>
             </div>  
          </div>
          
          
          <div class="col-md-4">
            <div style="text-align:center">
                <span style="font-size:5em" class="gold glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <h3>Search by Grade</h3>
                <div class="panel panel-blue">
                  <div class="panel-heading">I want projects for the following grades...</div>
                  <div class="panel-body">
                  Between grades <input type="number" min="0" max="{{grades[1]}}" placeholder="6" ng-model="grades[0]" style="width: 3em"> 
                  and <input type="number" min="{{grades[0]}}" max="12" placeholder="8" ng-model="grades[1]" style="width: 3em"> 
                  
                  </div> 
                    
                </div>
             </div>  
          </div>
          
          <div class="col-md-4">
            <div style="text-align:center">
                <span style="font-size:5em" class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <h3>Search by Topic</h3>
                <div class="panel panel-blue">
                  <div class="panel-heading">I want projects that cover the following topics:</div>
                  <div class="panel-body">

                  </div>
                </div>
             </div>  
          </div>
          
        
      </div>
      
      <div class="panel panel-blue">
        <div class="panel-heading"> <h2 class="panel-title"> Search Results </h2></div>
            
            <div class="row">
              <div class="col-md-4"> 
                <div class="panel-body">
                  <h4 class="search-results">Displaying projects that match the following categories: </h4>
                  <ul class="list-group">
                    <li class="list-group-item"><h5>Between grades {{grades[0]}} and {{grades[1]}}</h5></li>
                    <li class="list-group-item"> <h5>In the following subjects: </h5>
                      <div class="row">
                        <div class="col-md-12" > 
                        <ul class="list-group"> 
                          <li class="list-group-item" ng-repeat="subject in included_subjects"> {{subject.title}}</li> 
                        </ul>
                      </div>
                      </div>
                        
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-8" style="padding-right:1em">
                <div class="panel panel-blue">
                  <div class="panel-body"> There's nothing to see here...</div>
                </div>
              </div>
            </div>

        </div>
      </div>
      
  </div>
</section>
