/* Size + header  CSS*/
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
/* Specific Page Format CSS: Examples*/
.spacing {
    height: 150px;
    
}
/* Sidebar  CSS*/
.sidebar {
    display: none;
	border-color: #fbc650;
}
@media (min-width: 768px) {
	.sidebar {
		background-color: #f5f5f5;
		border-right: 1px solid #fbc650;
		border-top: 1px solid #fbc650;
		bottom: 0;
		display: block;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 20px;
		position: fixed;
		top: 51px;
		z-index: 1000;
	}
}

/* Nav-sidebar + text CSS*/
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #64bed8;
    color: #fff;
}
a {
    color: #64bed8;
    text-decoration: none;
}

/* Main Div CSS*/
.main {
    padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.main .page-header {
    margin-top: 0;
}

/* Glyphicon placeholder, size, color CSS*/
.btn {
    margin-right: 5px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.big {
    font-size:5em;
}
.blue {
    color: #64bed8;
}
.gold {
    color: #fbc650;
}

.tab {
    padding-left:2em;
}

img.example {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 200px;
}

/* Panel CSS*/
.panel-blue > .panel-heading {
	border-color: #64bed8;
	background-color: #64bed8;
	color: #fff;
}
.panel-blue {
	border-color: #64bed8;
}
.panel-gold > .panel-heading {
	border-color: #fbc650;
	background-color: #fbc650;
	color: #fff;
}
.panel-gold {
	border-color: #fbc650;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}

.row.featurette {
    height: 70%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 50px;
    }
}
