<div class="navbar navbar-issle" ng-class="$state.current.name == 'home' ? 'container' : 'container-fluid'" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand btn-group" style="padding-top: 2px">
            <a id="home" data-ui-sref="home" class="btn btn-info" style="height:44px">
                <img alt="issle" src="modules/core/img/brand/issle_logo_white.png" width="50px" style="position: relative; top: -6px">
            </a>
        </div>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <!--span class="nav navbar-nav col-md-1 col-xs-1" ng-show="$state.current.name != 'home'"></span-->
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
                        <a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
            </li>
        </ul>
        <span class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <div class="btn-group" id="NavBtn" dropdown is-open="status.isopen">
                <button class="btn btn-info" id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                    Sign in <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ui-sref="authentication.signin">Sign In</a></li>
                    <li role="menuitem"><a data-ui-sref="authentication.signup">Create An Account</a></li>
                </ul>
            </div>
        </span>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                    <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
					<li data-ui-sref-active="active">
                        <a data-ui-sref="settings.account">My Profile</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.profile">Edit Profile</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.picture">Change Profile Picture</a>
                    </li>
                    <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
                        <a data-ui-sref="settings.password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/api/auth/signout" target="_self">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
