<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>issle</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="modules/core/client/css/core.css" rel = "stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
	<section id = "landing-photo">
    <div class="jumbotron">
      <div class="container" id = "landing">
		<p class = "text-center"><img src="modules/core/img/brand/issle_logo_white.png"></p>
		<p></p>
       <span style = "font-size:30px; color:white"><div class = "text-center">Who are we?</div></span>
        <p style = "color:white">issle (Incorporating Student Standards Into Learning Engineering) is an application created to help teachers emphasize STEM in the classroom. By 
		  incorporating necessary standards into engineering tasks, students can learn engineering concepts while following State Common Core Standards.</p>
      </div>
    </div>
	</section>

    <div class="container" style = "margin-top:110px">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class = "text-center"><span class="glyphicon glyphicon-apple" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Identify Common Core Standards</h2>
          <p style = "font-size:20px">Discover standards that can be related to STEM activities in the classroom.</p></div>
        </div>
        <div class="col-md-4">
		<div class = "text-center">
           <span class="glyphicon glyphicon-cog" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Create Engineering Projects With Connections to Common Core Curriculum</h2>
          <p style = "font-size:20px">Utilize state standards in your engineering projects by referencing applicable objectives.</p>
		  </div>
       </div>
        <div class="col-md-4">
		<div class = "text-center">
 <span class="glyphicon glyphicon-education" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Review Projects Made by Other Teachers</h2>
          <p style = "font-size:20px">Feel free to review existing projects made by other teachers and explore new ways to apply STEM in the classroom.</p>
		  </div>
        </div>
      </div>


           <!-- FOOTER -->
<nav class="navbar navbar-default navbar-static-bottom" style = "margin-top: 110px">
  <div class="container text-center">
			

				 <p></p>
				<span style = "padding-right:40px"><a href="index.html" style =  "text-decoration:none;color:grey">How it works</a></span>
                <span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Legal</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Terms and Conditions</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Contact</a></div></span>
				
</nav>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>