<!-- issle homepage -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
	<!-- top div contains landing photo in css file -->
    <div id = "landing-photo" class="row">
        <div class="jumbotron container">
             <div id = "landing" class="row">
		        <img class="img-responsive col-xs-6 col-xs-offset-3" src="modules/core/img/brand/issle_logo_white.png">
	        </div>
            </br>
            <span style ="font-size:30px; color:white">
                <div class = "text-center">Who are we?</div>
            </span>
            <p style="color:white">issle (Integrating Standards for Students Learning Engineering) is an application created to help teachers emphasize STEM in the classroom. By
		  incorporating necessary standards into engineering tasks, students can learn engineering concepts while following State Common Core Standards.</p>
        </div>
	</div>

    <div class="container" style = "margin-top:110px">
      <!-- row of features -->
      <div class="row">
        <div class="col-md-4">
          <div class = "text-center"><span class="glyphicon glyphicon-apple" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Identify Common Core Standards</h2>
          <p style = "font-size:20px">Discover standards that can be related to STEM activities in the classroom.</p></div>
        </div>
        <div class="col-md-4">
		<div class = "text-center">
           <span class="glyphicon glyphicon-cog" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Create Engineering Projects With Connections to Common Core Curriculum</h2>
          <p style = "font-size:20px">Utilize state standards in your engineering projects by referencing applicable objectives.</p>
		  </div>
       </div>
        <div class="col-md-4">
		<div class = "text-center">
 <span class="glyphicon glyphicon-education" style="font-size:125px; color:#64bed8" aria-hidden="true"></span>
          <h2>Review Projects Made by Other Teachers</h2>
          <p style = "font-size:20px">Feel free to review existing projects made by other teachers and explore new ways to apply STEM in the classroom.</p>
		  </div>
        </div>
      </div>


           <!-- FOOTER -->
<!--<nav class="navbar navbar-default navbar-static-bottom" style = "margin-top: 110px">
  <div class="container text-center">
			

				 <p></p>
				<span style = "padding-right:40px"><a href="index.html" style =  "text-decoration:none;color:grey">How it works</a></span>
                <span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Legal</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Terms and Conditions</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Contact</a></div></span>
				
</nav>
-->
</div> <!-- /container -->

  
