<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Frequently Asked Questions <span class="sr-only">(current)</span></a></li>
                <li><a href="#">More!</a></li>
                <li><a href="#">More?</a></li>
            </ul>
        </div>!-->

        <div class="col-sm-12 col-md-10 col-md-offset-1 main">
            <h1 class="page-header">FAQ Categories</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-home big gold" aria-hidden="true"></span>
                    <h4>Website Navigation</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-book big gold" aria-hidden="true"></span>
                    <h4>Educational Standards</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-folder-open big gold" aria-hidden="true"></span>
                    <h4>Project Structure</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-cog big gold" aria-hidden="true"></span>
                    <h4>User Settings</h4>
                </div>
            </div>

            <!-- START THE FEATURETTES -->
            <!-- Featurettes for interests and future projects -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Who are we?</h2>
                    <p class="lead">We are a collection of students at the University of Florida who were approached about a need for a tool that allows teachers to create engineering lesson plans quickly. This website is defined to fulfill that need through engineering lesson plan builder by bringing the engineering structure, </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="android.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">IOS App Dev</h2>
                    <p class="lead">I'm currently developing an app called Evangelism Buddies. Users input there free time during the week as well as clubs they are interested in. The app will take that data and user preferences to find other users who are also free to go sharing at the same time or who are interested in the same club.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="ios.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">MEAN.JS Dev/Scrum</h2>
                    <p class="lead">Rapidly developing web applications in MEAN.JS which is a full-stack JavaScript solution. All development is occurring in teams based on the Scrum framework to maximize collaboration and minimize complexity.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="meanjs.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
        </div>
    </div>
</div>
