<div class="container-fluid">

        <div class="col-md-12 main">
            <h1 class="page-header">About Us and the issle project</h1>

            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-8">
                    <h3 class="featurette-heading">Who are we?</h3>
                    <p class="lead">We are a collection of students at the University of Florida who were approached to design a website for Software Engineering (CEN3031). The need was for a tool to allows teachers in the state of Florida to create STEM lesson plans easily. This website is a practical way for us to give back to the education system that we grew up in.</p>
                </div>
                <div class="col-md-4">
                    <img class="featurette-image img-responsive center-block" src="modules/support/img/uf.png" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-8 col-md-push-4">
                    <h3 class="featurette-heading">Why the Engineering Design Process?</h3>
                    <p class="lead">It has been observed that most students have difficulty distinguishing between major concepts, main ideas, and details. By having students apply a systematic engineering approach to real problems they will learn to distinguish between essential-to-know information and trivia.</p>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="featurette-image img-responsive center-block" src="modules/support/img/eng.png" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-8">
                    <h3 class="featurette-heading">How is STEM integrated?</h3>
                    <p class="lead">By searching through our database of Florida standards you can find relevant standards to the engineering projects you're creating for your class. Not only will this allow you to meet the state requirements, it also allows for the integration of previously separate subjects.</p>
                </div>
                <div class="col-md-4">
                    <img class="featurette-image img-responsive center-block" src="modules/support/img/stem.png" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-8 col-md-push-4">
                    <h3 class="featurette-heading">Herbert Wertheim College of Engineering</h3>
                    <p class="lead">With a $50 million catalyst gift from Dr. Herbert & Nicole Wertheim and the Dr. Herbert & Nicole Wertheim Family Foundation, the college has embarked on a $300 million public-private partnership that will leverage support from the state, the university and from private donors, resulting in the biggest transformation in our 105-year history.</p>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <br></br>
                    <img class="featurette-image img-responsive center-block" src="modules/support/img/herbert-wertheim.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
        </div>
    </div>
</div>
