<div class="container-fluid">
<div class = "row">
    <br>
<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #1 : Algonquian Wigwam</h2>
                        </div>
                        <font size = "3">Have students improve the design of an Algonquian Wigwam</font>
                        <br>
                        For grades: 3
                        <br>
                        <br>
                        <p><img class= display="block";  margin="0 auto"; src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
                        <a data-ui-sref="support.example1">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>    

<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #2 : Example Title</h2>
                        </div>
                        <font size = "3">Example description</font>
                        <br>
                        For grades: 3-4
                        <br>
                        <br>
                        <br>
                        Picture (if possible) Goes here
                        <br>
                        <br>
                        <br>
                        <a data-ui-sref="support.example2">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>
<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #3 : Example Title</h2>
                        </div>
                        <font size = "3">Example description</font>
                        <br>
                        For grades: 3-4
                        <br>
                        <br>
                        <br>
                        Picture (if possible) Goes here
                        <br>
                        <br>
                        <br>
                        <a data-ui-sref="support.example3">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>
</div>
<div class = "row">
<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #4 : Example Title</h2>
                        </div>
                        <font size = "3">Example description</font>
                        <br>
                        For grades: 3-4
                        <br>
                        <br>
                        <br>
                        Picture (if possible) Goes here
                        <br>
                        <br>
                        <br>
                        <a data-ui-sref="support.example4">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>    

<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #5 : Example Title</h2>
                        </div>
                        <font size = "3">Example description</font>
                        <br>
                        For grades: 3-4
                        <br>
                        <br>
                        <br>
                        Picture (if possible) Goes here
                        <br>
                        <br>
                        <br>
                        <a data-ui-sref="support.example5">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>
<div class="col-sm-6 col-md-4 main">
    <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Example #6 : Example Title</h2>
                        </div>
                        <font size = "3">Example description</font>
                        <br>
                        For grades: 3-4
                        <br>
                        <br>
                        <br>
                        Picture (if possible) Goes here
                        <br>
                        <br>
                        <br>
                        <a data-ui-sref="support.example6">
                            <button class="btn btn-info btn-block" >View Example</button>
                        </a>
                    </div>
</div>
</div>
</div>
<!-- 
Example linking to the buttons will be implemented later
Need to improve spacing on top (finding better way to center the two rows of example)
Have implemented example pages to currently work with
!-->
