<div class="container-fluid">
<div class = "row">
    <br>
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                  <h2 class="panel-title">Example #1 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example1">
                  <button id="1" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h2 class="panel-title">Example #2 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example2">
                <button id="2" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h2 class="panel-title">Example #3 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example3">
                <button id="3" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h2 class="panel-title">Example #4 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example4">
                <button id="4" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h2 class="panel-title">Example #5 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example5">
                <button id="5" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 main">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h2 class="panel-title">Example #6 : Algonquian Wigwam</h2>
            </div>
            <h5>Have students improve the design of an Algonquian Wigwam</h5>
            For grades: 3
            <p><img class="example" src="modules/support/img/wigwam.png" alt="Generic placeholder image"></p>
            <a data-ui-sref="support.example6">
                <button id="6" class="btn btn-info btn-block" >View Example</button>
            </a>
        </div>
    </div>
</div>
</div>
