<section data-ng-controller="ProjectsController">
    <div class = "container" id="list">
        <div class="page-header">
            <h1 id = "listheader">Algonquian Wigwam</h1>

                <h4 id ="greyColor">Grade(s) 3 - 3</h4>
            <h2 id = "listheader">Ask</h2>
                <h3>Goal</h3>
                    <h4 id ="greyColor">Improve the design of an Algonquian Wigwam</h4>
            </br>
            <h3>Major Problem/Underlying Statement</h3>
                <h4 id ="greyColor">Everything was tied together. Saplings have to be cut and dragged</h4>
            </br>
            <h3>How can your students solve this problem?</h3>
                <h4 id ="greyColor">Camping tent design</h4>
            </br>
            <h3>Constraints</h3>
                <h4 id ="greyColor">Need saplings, birch bark or woven mats. Need smoke hole and door</h4>
            </br>
            <h2 id = "listheader">Imagine</h2>
                <h3>What are some solutions? Brainstorm ideas.</h3>
                    <img src="modules/support/img/imagine.png" alt="Generic placeholder image">
            </br>
            <h2 id = "listheader">Plan</h2>
                <h3>Draw a diagram or any other representation of your project.</h3>
                    <img src="modules/support/img/plan.png" alt="Generic placeholder image">
            </br>
            <h3>List the materials you need.</h3>
            <ul id ="greyColor">
                <li>Thin coffee sticks</li>
                <li>String</li>
                <li>Paper squares</li>
            </ul>
            </br>
            <h2 id = "listheader">Main Idea- Mathematics</h2>
                <h4 id ="greyColor">Looking for patterns in shape and purpose</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will see a pattern between dimensions in native dwelling and use these to improve design</h4>
            </br>
            <h3>What students will do:</h3>
                <h4 id ="greyColor">Sort shapes of dwellings, investigate patterns</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will identify shapes of dwellings and patterns. Then they will use dimensional constraints to design a dwelling</h4>
            </br>
            <h3>Linked Math Standard(s):</h3>
                <h4 id ="greyColor">MAFS.K12.MP.7.1</h4>
            </br>
            <h2 id = "listheader">Main Idea- Science</h2>
                <h4 id ="greyColor">The practice of science</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will investigate dwelling design and tie design to habitat of native people. Students will pose a question about dwelling design.</h4>
            </br>
            <h3>What students will do:</h3>
                <h4 id ="greyColor">Create a question, collect data, evaluate data</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will ask a question related to dwelling structure - Students will use engineering design to help answer this question</h4>
            </br>
            <h3>Linked Science Standard(s):</h3>
                <h4 id ="greyColor">SC.3.N.1.3</h4>
            </br>
            <h2 id = "listheader">Main Idea- Literature</h2>
                <h4 id ="greyColor">Compare different Native American dwellings</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students read if you lived with the ... (Hopi, Sioux, Iroquois, Indians of the Northwest Coast). Focus on housing.</h4>
            </br>
            <h3>What students will do:</h3>
                <h4 id ="greyColor">Make a comparison chart</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will read informational texts to determine types of dwellings of native culture</h4>
            </br>
            <h3>Linked Literature Standard(s):</h3>
                <h4 id ="greyColor">LAFS.3.RI.3.9</h4>
            </br>
            <h2 id = "listheader">Main Idea- Social Studies</h2>
                <h4 id ="greyColor">Comparing Cultures of Native People</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students study habitats, environment and cultures of native people in the Americas</h4>
            </br>
            <h3>What students will do:</h3>
                <h4 id ="greyColor">Make a chart to identify natural resources, habitat and culture</h4>
            </br>
            <h3>Essential Details:</h3>
                <h4 id ="greyColor">Students will use SS texts and readings to identify resources and climate constraints in dwelling design</h4>
            </br>
            <h3>Linked Social Studies Standard(s):</h3>
                <h4 id ="greyColor">SS.3.G.4.3</h4>
            </br>
            <h2 id="listheader">How will students communicate findings?</h2>
                <h4 id ="greyColor">Students will design a poster to present findings</h4>
            </br>



            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="project.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="project.user.displayName"></span>
                </em>
            </small>

            <div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
                <a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>

        </div>
    </div>
</section>
