<section data-ng-controller="ProjectsController">
    <div class = "container" id="list">
        <div class="page-header">
            <h2 class="sub-header">Design : Algonquian Wigwam</h2>
            <h4 class="sub-header">Grade(s) : 3 - 3</h4>

            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h2 class="panel-title">Ask</h2>
                </div>
                <div class="panel-body">
                    <font size = "4" class="blue">Describe your goal:</font>
                    <span class="glyphicon glyphicon-question-sign" 
                        data-toggle="tooltip" data-original-title="Share" title ="Notice how the goal is specifc, but allows room for interpretation. You can improve a Wigman in a variety of ways. ">
                        </span>
                    <h5 class="tab">Improve the design of an Algonquian Wigwam</h5>
                    <br>

                    <font size = "4" class="blue">What's the major problem or underlying question?</font>
                    <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Sometimes, the problem can be relatively simple, but requires effort to fix. This is an example of such a situation."> </span>
                    <h5 class="tab">Everything was tied together. Saplings have to be cut and dragged</h5>
                    <br>

                    <h4 class="blue">How can your students solve this problem?</h4>
                    <h5 class="tab">Camping tent design</h5>
                    <br>

                    <font size = "4" class = "blue">List your constraints:</font>
                    <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Don't be fooled by the small number of constraints. This was only because there was no monetary issues and most other materials required for this experiment are easily 
                        obtainable. It might not be so in your case."></span>
                    <h5 class="tab">Need saplings, birch bark or woven mats. Need smoke hole and door</h5>

                </div>
            </div>

            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Imagine</h3>
                </div>
                <div class="panel-body">
                    <font size = "4" class="blue">What are some solutions? Brainstorm ideas.</font>
                    <span class="glyphicon glyphicon-question-sign"
                    data-toggle="tooltip" data-original-title="Share" title ="More elaborate explanation goes here "></span>
                    <p><img src="modules/support/img/imagine.png" alt="Generic placeholder image"></p>

                    <h3>Plan</h3>
                    <h4 class="blue">Draw a diagram or any other representation of your project.</h4>
                    <p><img src="modules/support/img/plan.png" alt="Generic placeholder image"></p>

                    <h4 class="blue">List the materials you need.</h4>
                    <ul>
                        <li>Thin coffee sticks</li>
                        <li>String</li>
                        <li>Paper squares</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Essential Sketch & Details: </h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <font size = "5" class="panel-title">Mathematics:</font>
                            <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Explanation of math related stuff goes here. "></span>
                        </div>
                        <div class="panel-body">
                            <h4 class="blue">Main Idea:</h4>
                            <h5 class="tab">Looking for patterns in shape and purpose</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will see a pattern between dimensions in native dwelling and use these to improve design</h5>
                            <br>
                            <h4 class="blue">What students will do:</h4>
                            <h5 class="tab">Sort shapes of dwellings, investigate patterns</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will identify shapes of dwellings and patterns. Then they will use dimensional constraints to design a dwelling</h5>
                            <br>
                            <h4 class="blue">Linked Math Standard(s):</h4>
                            <h5 class="tab">MAFS.K12.MP.7.1</h5>
                        </div>
                    </div>

                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <font size = "5" class="panel-title">Science:</font>
                            <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Explanation of science related stuff goes here. "></span>
                        </div>
                        <div class="panel-body">
                            <h4 class="blue">Main Idea:</h4>
                            <h5 class="tab">The practice of science</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will investigate dwelling design and tie design to habitat of native people. Students will pose a question about dwelling design.</h5>
                            <br>
                            <h4 class="blue">What students will do:</h4>
                            <h5 class="tab">Create a question, collect data, evaluate data</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will ask a question related to dwelling structure - Students will use engineering design to help answer this question</h5>
                            <br>
                            <h4 class="blue">Linked Science Standard(s):</h4>
                            <h5 class="tab">SC.3.N.1.3</h5>
                        </div>
                    </div>

                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <font size = "5" class="panel-title">Literature:</font>
                            <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Explanation of Literature related stuff goes here."></span>
                        </div>
                        <div class="panel-body">
                            <h4 class="blue">Main Idea:</h4>
                            <h5 class="tab">Compare different Native American dwellings</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students read if you lived with the ... (Hopi, Sioux, Iroquois, Indians of the Northwest Coast). Focus on housing.</h5>
                            <br>
                            <h4 class="blue">What students will do:</h4>
                            <h5 class="tab">Make a comparison chart</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will read informational texts to determine types of dwellings of native culture</h5>
                            <br>
                            <h4 class="blue">Linked Literature Standard(s):</h4>
                            <h5 class="tab">LAFS.3.RI.3.9</h5>
                        </div>
                    </div>

                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <font size = "5" class="panel-title">Social Studies:</font>
                            <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="Explanation of Social Studies related stuff goes here."></span>
                        </div>
                        <div class="panel-body">
                            <h5 class="tab">Comparing Cultures of Native People</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students study habitats, environment and cultures of native people in the Americas</h5>
                            <br>
                            <h4 class="blue">What students will do:</h4>
                            <h5 class="tab">Make a chart to identify natural resources, habitat and culture</h5>
                            <br>
                            <h4 class="blue">Essential Details:</h4>
                            <h5 class="tab">Students will use SS texts and readings to identify resources and climate constraints in dwelling design</h5>
                            <br>
                            <h4 class="blue">Linked Social Studies Standard(s):</h4>
                            <h5 class="tab">SS.3.G.4.3</h5>
                        </div>
                    </div>

                    <font size = "4" class = "blue">How will students communicate findings?</font>
                    <span class="glyphicon glyphicon-question-sign"
                        data-toggle="tooltip" data-original-title="Share" title ="In this case, a poster was sufficient. It would help explain what the students did, and other forms of presentations are too complex for the simplicity of this experiment."></span>
                    <h5 class="tab">Students will design a poster to present findings</h5>
                </div>
            </div>
        </div>
    </div>
</section>
