<section data-ng-controller="ProjectsController">
    <div class = "container" id="list">
                <div class="page-header">
                    <div class="sub-header">
                        <h2 class="ng-binding" style="display: inline-block">Raz's Balloons</h2>
                            <span class="section-to-hide">
                            </span>
                    </div>

                    <h4 class="ng-binding">Grade(s) 0 - 2</h4>
                    <h4 class="ng-binding"> Rating:
                        <!-- ngRepeat: n in range(1,project.rating.avg_rating,1) -->
                        (2.8/5.0 stars)
                    </h4>
                </div>

                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2 class="panel-title">Ask</h2>
                    </div>
                    <div class="panel-body">
                        <h4 class="blue">Goal</h4>

                        <h5 class="tab"><span>Young Students have difficulty visualizing that "air is all around us" and that gases have some physical basis. This project explores air flow, air pressure and air currents through ballons. This project is based on a Design Squad project 

In this project students will engineer blimps made of balloons and guide them through a course using air currents. 

The B.I.G. Raz Balloon and Blimp company is looking into a new design for a Balloon or Blimp for use in taking aerial pictures of the local school area.  Students will investigate and then report back to the company, which balloon shape is better for mapping the local area, and how easily the balloon steers when air currents are applied to the balloon.</span></h5>
                        <br>
                        <h4 class="blue">Major Problem/Underlying Statement</h4>
                        <h5 class="tab"><span>Why do some balloons float up, and others do not?
How can you stop a balloon from floating upward?
What is neutral buoyancy and how does it help make blimps?
How can air currents make a blimp or balloon move around?
How can I make a neutrally buoyant blimp that I can steer using air currents?</span></h5>
                        <br>
                        <h4 class="blue">How can your students solve this problem?</h4>
                        <h5 class="tab"><span>Students will design a blimp using a type of helium balloon for which they determine a shape, make it neutrally buoyant, and steer it through a course using air currents.</span></h5>
                        <br>
                        <h4 class="blue">Constraints</h4>
                        <h5 class="tab"><span>Students must use balloon shapes that are available (oblong, circular, pear shaped)
Students must have a neutrally buoyant balloon
Students can only use paper fanning or hand motion to move balloon through air currents.</span></h5>
                        <br>
                    </div>
                </div>

                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">Imagine</h3>
                    </div>
                    <div class="panel-body">
                        <h4 class="blue">Brainstormed ideas:</h4>
                        <h5 class="tab"><span>Some shapes can move through the air better than others. Students may have seen a blimp and can relate this to the oblong shaped balloon.  Students may draw a variety of shapes for their balloon.</span></h5>
                        <br>
                        <h3>Plan</h3>
                        <h4 class="blue">Diagram or other representation of your project:</h4>
                        <p><img src="modules/support/img/balloon.jpg" alt="Generic placeholder image"></p>
                        <br>
                        <h4 class="blue">Materials required:</h4>
                        <h5 class="tab"><span>Balloons of varying shapes, string, weights (washers to hang on string), helium tank</span></h5>
                        <br>
                    </div>
                </div>

                <div class="print-spacing">

                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">Essential Sketch &amp; Details: </h3>
                        </div>
                        <div class="panel-body">

                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Mathematics:</h3>
                                </div>
                                <div class="panel-body">
                                    <h4 class="blue">Main Idea:</h4>
                                    <h5 class="tab"><span>Identify and describe shapes, Analyze, compare, create and compose shapes, Reason with shapes and their attributes</span></h5>
                                    <br>
                                    <h4 class="blue">Essential Details:</h4>
                                    <h5 class="tab"><span>Students will reason with shapes when asked the prompt "What shapes do you see in balloons in real life, why do you think balloons are made in these shapes" ,"Of the shapes you have identified and drawn, which shapes do you think move through the air easily, and which would be more difficult to move through the air?</span></h5>
                                    <br>
                                    <h4 class="blue">Linked Math Standard(s):</h4>
                                    <h5 class="tab ng-binding">MAFS.K.G.2.4, MAFS.K.G.2.5, MAFS.1.G.1.2, MAFS.K12.MP.7.1, MAFS.K.G.1.1, MAFS.K.G.1.2, MAFS.K.G.1.3</h5>
                                    <br>
                                </div>
                            </div>

                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Science:</h3>
                                </div>
                                <div class="panel-body">
                                    <h4 class="blue">Main Idea:</h4>
                                    <h5 class="tab"><span>Investigate that air is all around us and that moving air is wind, Forces and changes to motion, Properties of matter,</span></h5>
                                    <br>
                                    <h4 class="blue">Essential Details:</h4>
                                    <h5 class="tab"><span>Students will first investigate why some balloons float and others do not. Students will use balloons with air &amp; helium, air, helium to talk about why some gases float, but others do not. Students will investigate air pressure, but filling some balloons with less air, air and overly full, to discuss the basic concept of pressure (air pushing out on the balloon)
Students will investigate neutral buoyancy by adding weights to the string of a balloon to see how to make it neutrally buoyant.</span></h5>
                                    <br>
                                    <h4 class="blue">Linked Science Standard(s):</h4>
                                    <h5 class="tab ng-binding">SC.2.E.7.4, SC.2.N.1.2, SC.2.P.8, SC.2.P.13</h5>
                                    <br>
                                </div>
                            </div>

                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Literature:</h3>
                                </div>
                                <div class="panel-body">
                                    <h4 class="blue">Main Idea:</h4>
                                    <h5 class="tab"><span>Analyze how two or more texts address similar themes or topics in order to build knowledge or to compare the approaches the authors take.</span></h5>
                                    <br>
                                    <h4 class="blue">Essential Details:</h4>
                                    <h5 class="tab"><span>Students read "I fly Hot Air Balloons" Interview (nonfiction), 419 words, Level K (Grade 2), and  "How does it Fly? Blimp" (Grade 2, Lexile 630)  for the prompts "Did you ever wonder how they fly or how the big balloons are steered?" "How do these balloons move through the air?" "What shapes are these balloons and why?"

Students also read paired fiction -"Too Many Balloons", "The Big Wet Balloon", or "Pirate Pickle and the White Balloon" to describe what happened to the balloons in the story, and how this relates to the gas in the balloon, and the air around the balloon. Students relate the fiction and non-fiction text to use justifications from the non-fiction text to explain things that happen to the balloon in the fiction text.</span></h5>
                                    <br>
                                    <h4 class="blue">Linked Science Standard(s):</h4>
                                    <h5 class="tab ng-binding">LAFS.K12.R.3.9</h5>
                                    <br>
                                </div>
                            </div>

                            <div class="panel panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Social Studies:</h3>
                                </div>
                                <div class="panel-body">
                                    <h4 class="blue">Main Idea:</h4>
                                    <h5 class="tab"><span>Recognize features on a map, and make a large map of the area for the balloons to travel through</span></h5>
                                    <br>
                                    <h4 class="blue">Essential Details:</h4>
                                    <h5 class="tab"><span>Students will complete activities related to map reading (see the standards)
Students will brainstorm on what kind of aerial map they will make for their balloons to fly over. 
Students will create a large floor map (at least 12 x 12) using local maps to make a large map course for their balloon engineering tests.</span></h5>
                                    <br>
                                    <h4 class="blue">Linked Science Standard(s):</h4>
                                    <h5 class="tab ng-binding">SS.2.G.1</h5>
                                    <br>
                                </div>
                            </div>
                            
      
                            <!-- ngRepeat: subz in project.essentialDetails.otherSubject -->
                            
                            <h4 class="blue">How will students communicate findings?</h4>
                            <h5 class="tab"><span>Students will write a letter to the B.I.G. Raz Balloon and Blimp Company to report the findings of their balloon engineering trials.</span></h5>
                         </div>
                    </div>
                </div>
    </div>
</section>