<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Frequently Asked Questions <span class="sr-only">(current)</span></a></li>
                <li><a href="#">More!</a></li>
                <li><a href="#">More?</a></li>
            </ul>
        </div>!-->

        <div class="col-sm-12 col-md-10 col-md-offset-1 main">
            <h1 class="page-header">FAQ Categories</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-home big gold" aria-hidden="true"></span>
                    <h4>Website Navigation</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-book big gold" aria-hidden="true"></span>
                    <h4>Educational Standards</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-folder-open big gold" aria-hidden="true"></span>
                    <h4>Project Structure</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-cog big gold" aria-hidden="true"></span>
                    <h4>User Settings</h4>
                </div>
            </div>

            <h2 class="sub-header">Website Navigation</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">FAQ 1</h3>
                </div>
                <div class="panel-body">
                    Answer the question
                </div>
            </div>

            <h2 class="sub-header">Educational Standards</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">FAQ 1</h3>
                </div>
                <div class="panel-body">
                    Answer the question
                </div>
            </div>

            <h2 class="sub-header">Project Structure</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">FAQ 1</h3>
                </div>
                <div class="panel-body">
                    Answer the question
                </div>
            </div>

            <h2 class="sub-header">User Settings</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">FAQ 1</h3>
                </div>
                <div class="panel-body">
                    Answer the question
                </div>
            </div>
        </div>
    </div>
</div>
