<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-10 col-md-offset-1 main">
            <h1 class="page-header">FAQ Categories</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-home big gold" aria-hidden="true"></span>
                    <h4>Website Navigation</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-book big gold" aria-hidden="true"></span>
                    <h4>Educational Standards</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
                    <span class="glyphicon glyphicon-folder-open big gold" aria-hidden="true"></span>
                    <h4>Project Structure</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
                    <span class="glyphicon glyphicon-cog big gold" aria-hidden="true"></span>
                    <h4>User Settings</h4>
                </div>
            </div>

            <h2 class="sub-header">Website Navigation</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">How is the website structured?</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Home</li>
                        <li>Projects
                            <ul>
                                <li>List Projects</li>
                                <li>Create Projects</li>
                            </ul>
                        </li>
                        <li>Standards
                            <ul>
                                <li>List Standards</li>
                            </ul>
                        </li>
                        <li>Support
                            <ul>
                                <li>Examples</li>
                                <li>FAQ</li>
                                <li>About Us</li>
                            </ul>
                        </li>
                        <li>Profile
                            <ul>
                                <li>My Profile</li>
                                <li>Edit Profile</li>
                                <li>Change Profile Picture</li>
                                <li>Change Password</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <h2 class="sub-header">Educational Standards</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Does Florida use Common Core and are these standards integrated into this website?</h3>
                </div>
                <div class="panel-body">
                    Yes, Florida has been using Common Core since the 2013-2014 school year. Our database is utilizing CPALMS' list of standards which includes Common Core english language arts and math standards.
                </div>
            </div>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">What is Common Core</h3>
                </div>
                <div class="panel-body">
                    <p>Common Core is a set of standards for kindergarten through 12th grade in english language arts and mathematics" More information can be found on the Common Core FAQ web page which is linked below!</p>
                    <a id="cc" href="http://www.corestandards.org/about-the-standards/frequently-asked-questions/" target="_blank">Common Core FAQ Page</a>

                </div>
            </div>

            <h2 class="sub-header">Project Structure</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Can I have private projects that are just for me?</h3>
                </div>
                <div class="panel-body">
                    Yes, at the top of the create project and edit project page there is an option to make your project public or private. This allows you to protect your ideas as well as having in-progress projects invisible while your working on them.
                </div>
            </div>

            <h2 class="sub-header">User Settings</h2>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Where can I view/edit my projects?</h3>
                </div>
                <div class="panel-body">
                    You can view your projects by clicking on the top right dropdown menu and selecting My Profile. Your projects will show up on the right side of the screen. Clicking the projects name lets you view the project, clicking the <button class="btn btn-info glyphicon glyphicon-edit"></button> button lets you edit the project. (This button doesn't do anything, it is just a sample of what you will see)
                </div>
            </div>
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Where can I edit my profile settings?</h3>
                </div>
                <div class="panel-body">
                    You can view your profile settings by clicking on the top right dropdown menu and selecting Edit Profile.
                </div>
            </div>
        </div>
    </div>
</div>
