    <div class="container-fluid">

	
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">User Support <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Frequently</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
		
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">User Support</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
			  <span class="glyphicon glyphicon-home big gold" aria-hidden="true"></span>
              <h4>Website Navigation</h4>
              <span class="text-muted">Something else?</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
			  <span class="glyphicon glyphicon-book big gold" aria-hidden="true"></span>
              <h4>Educational Standards</h4>
              <span class="text-muted">Something else?</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/sky">-->
			  <span class="glyphicon glyphicon-folder-open big gold" aria-hidden="true"></span>
              <h4>Project Structure</h4>
              <span class="text-muted">Something else?</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!--<img alt="Generic placeholder thumbnail" class="img-responsive" data-src="holder.js/200x200/auto/vine">-->
			  <span class="glyphicon glyphicon-cog big gold" aria-hidden="true"></span>
              <h4>Settings</h4>
              <span class="text-muted">Something else?</span>
            </div>
          </div>

          <h2 class="sub-header">Frequently Asked Questions</h2>
          <div class="panel panel-blue">
			<div class="panel-heading">
				<h3 class="panel-title">FAQ 1</h3>
			</div>
			<div class="panel-body">
				Answer the question
			</div>
		  </div>  
		  <div class="panel panel-blue">
			<div class="panel-heading">
				<h3 class="panel-title">FAQ 2</h3>
			</div>
			<div class="panel-body">
				Answer the question
			</div>
		  </div>
		  <div class="panel panel-blue">
			<div class="panel-heading">
				<h3 class="panel-title">FAQ 3</h3>
			</div>
			<div class="panel-body">
				Answer the question
			</div>
		  </div>
        </div>
      </div>
    </div>