<section data-ng-controller="ProjectsController">
  <div class="page-header">
    <h1>My Projects</h1>
	
	    <div class="list-group">
        <a data-ng-repeat="project in projects" data-ng-href="/#!/projects/{{project._id}}" myService.set(project) class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="project.created | date:'medium'"></span>
				by
				<span data-ng-bind="project.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="project.name"></h4>
        </a>
    </div>
	
  </div>
    <nav class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.editprojects">Edit Projects</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.bookmarks">View My Bookmarks</a>
        </li>
      </ul>	  
    </nav>
	
    <div class="col-sm-9 col-md-8 settings-view">
      <div data-ui-view></div>
    </div>

</section>
