<section data-ng-controller="SettingsController" data-ng-init="getUserProjects()" class="container-fluid panel">
  <br>

  <div class="header text-center">
    <img ng-src="{{user.profileImageURL}}" class="img-circle" style="height: auto; max-height: 60px;"/>
    <h1 style="display: inline; vertical-align: middle">&nbsp;&nbsp;{{user.displayName}}'s Page</h1>
  </div>

  <hr>

  <div class="row">

    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.account">My Profile</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li data-ui-sref-active="active" data-ng-show="user.provider === 'local'">
          <a data-ui-sref="settings.password">Change Password</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-9 settings-view">
      <div data-ui-view></div>
    </div>
  </div>
</section>
