.content {
  margin-top: -20px;
}

#landing .container{
	width: 4000px;
	height: 1000px;
}

#landing-photo .jumbotron {
	/*margin-left: -15px !important;*/
	background-image: url(../img/homepage/chalkboard.jpg);
	/*background-size: cover;*/
	/*background-size: 100% !important;*/
}


.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

#NavBtn
{
  padding-top: 8px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.navbar-issle {
  background-color: #64bed8;
  border-color: #9BD7E8;
}
.navbar-issle .navbar-brand {
  color: #2c5b69;
}
.navbar-issle .navbar-brand:hover, .navbar-issle .navbar-brand:focus {
  color: #2c5b69;
}
.navbar-issle .navbar-text {
  color: #2c5b69;
}
.navbar-issle .navbar-nav > li > a {
  color: #2c5b69;
}
.navbar-issle .navbar-nav > li > a:hover, .navbar-issle .navbar-nav > li > a:focus {
  background-color: #fbc650;
}
.navbar-issle .navbar-nav > .active > a, .navbar-issle .navbar-nav > .active > a:hover, .navbar-issle .navbar-nav > .active > a:focus {
  color: #2c5b69;
  background-color: #fbc650;
}
.navbar-issle .navbar-nav > .open > a, .navbar-issle .navbar-nav > .open > a:hover, .navbar-issle .navbar-nav > .open > a:focus {
  color: #2c5b69;
  background-color: #fbc650;
}
.navbar-issle .navbar-toggle {
  border-color: #fbc650;
}
.navbar-issle .navbar-toggle:hover, .navbar-issle .navbar-toggle:focus {
  background-color: #fbc650;
}
.navbar-issle .navbar-toggle .icon-bar {
  background-color: #2c5b69;
}
.navbar-issle .navbar-collapse,
.navbar-issle .navbar-form {
  border-color: #2c5b69;
}
.navbar-issle .navbar-link {
  color: #2c5b69;
}
.navbar-issle .navbar-link:hover {
  color: #2c5b69;
}

@media (max-width: 767px) {
  .navbar-issle .navbar-nav .open .dropdown-menu > li > a {
    color: #2c5b69;
  }
  .navbar-issle .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-issle .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2c5b69;
  }
  .navbar-issle .navbar-nav .open .dropdown-menu > .active > a, .navbar-issle .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-issle .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2c5b69;
    background-color: #fbc650;
  }
}

/*Search for Standards Formatting*/
table{
  height:100%;
  width:100%;
}

.searchRow{
  padding:4px;
  text-align:center;
}

th{
  padding:2px;
  text-align:center;
  color:white;
  background-color: #92d1e3;
  font-size:11.5px;
}

td{
  border: 1px solid #92d1e3;
  padding:6px;
  text-align:center;
  font-size: 11px;
}

.line-break{
	 word-break: break-all !important;
}

.searchResults{
	border: 1px solid #92d1e3;
	margin-right:auto;
	margin-left:auto; 
}